<p>
  Time Slot: <%= "#{@time_slot_values[:"#{@seat.timeslot}"]}" %>
</p>

<p>
  Seat Number: <%= "#{@seat_number_values[:"#{@seat.seat_number}"]}" %>
</p>

<p>
  Cinema Name: <%= link_to @seat.cinema.name, @seat.cinema %>
</p>

<p>
  Movie Name: <%= link_to @movie.name, @movie%>
</p>