<p>
  Time Slot: <%= "#{@time_slot_values[:"#{@seat.timeslot}"]}" %>
</p>

<p>
  Seat Number: <%= "#{@seat_number_values[:"#{@seat.seat_number}"]}" %>
</p>

<p>
  Cinema ID: <%= @seat.cinema_id %>
</p>

<p>
  Movie Name: <%= @movie.name%>
</p>