<h1> Movies <h1>

<% if @is_admin %>
  <p>Number of all movies: <%= @movie_count %></p>
  <br>
  <p><%= link_to "Create a new movie", new_movie_path %></p>
<% end %>

<table class ="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Movie Name</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <th scope="row"><%= movie.id %></th>
        <td><%= link_to movie.name, movie %></td>
      </tr>
    <% end %>
  </tbody>
</table>