<h1> Users <h1>

<% @users.each do |user| %>
  <div class="container">
    <span>
      Full Name: <%= user.full_name %>
    </span>
    <br>
    <span>
      Role: <%= user.role %>
    </span>
    <br>
    <br>
  </div>
<% end %>