<h1> Cinemas <h1>

<% if @is_admin %>
  <span>Cinema Count: <%= @cinema_count %></span>
  <br>
  <span><%= link_to "New cinema", new_cinema_path %></span>
<% end %>

<br>

<% @cinemas.each do |cinema| %>
  <div class="container">
    <br>
    <span>
      Name: <%= cinema.name %>
    </span>
    <span>
      <%= link_to "Cinema Details", cinema %>
    </span>
    <br>
  </div>
<% end %>